 <div class="text-center">
     <h1 class="text-danger">ACCESS DENIDED</h1>
     <h6 class="text-danger">you don't have permission to view this result</h6>
     <img src="~/images/stop.jpg" style="height:300px; width:300px"/>
 </div>