
@{
    ViewBag.Title = "Admin Page";
}

    <div  class="card">
       
            <a class="btn btn-primary" style="width:inherit"
               asp-action="ListUsers" asp-controller="Admin">
                Work with User
            </a>

            <a class="btn btn-primary" style="width:inherit"
               asp-action="ListRoles" asp-controller="Admin">
                Work with Role
            </a>
      
            <a class="btn btn-primary" style="width:inherit"
               asp-action="ListClaims" asp-controller="Admin">
                Work with Claim
            </a>
        
    </div>
    
 
